@charset "utf-8";
/*CSS reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;border:0px;}
table {border-collapse:collapse; border-spacing:0;}
fieldset,img{border:0;vertical-align:middle;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
q:before,q:after{content:'';}
abbr.acronym {border:0;}
body{font-family:"微软雅黑","黑体","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;text-align:left;color:#5E5E5E}
a{text-decoration:none;cursor:pointer;color: #333;}
a:hover{text-decoration:none;color: #333;}
em{font-style: normal;}


/*字段截取*/
.txt_ellipsis{text-overflow:ellipsis;white-space: nowrap;overflow: hidden;}

/*文字排版*/
.fb{font-weight:bold;}
.fn{font-weight:normal;}
.t2{text-indent:2em;}
.lh150{line-height:150%;}
.lh180{line-height:180%;}
.lh200{line-height:200%;}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}

/*定位*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto; margin-right:auto;}
.fl{float:left; display:inline;}
.fr{float:right; display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.clearfix:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.clearfix{display:inline-block;}
*html.clearfix{height:1%;}.Clearfix{display:block;}
.vm{vertical-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}
.abs-right{position:absolute; right:0;}
.zoom{zoom:1;}
.hidden{visibility:hidden;}
.none{display:none;}
.oh{overflow: hidden;}
.tab_box {clear:both;}
.hide{display:none;}
.show{display: block;}

/*默认字体标签样式*/
i,s,em{font-style: normal;display: inline-block}

/*去除边框*/
.btr{border-top: none;}
.bbr{border-bottom: none;}
.blr{border-left:none;}
.brr{border-right: none}


















